@import "tailwindcss";

@theme {
  --color-brand-50: #fdf2f4;
  --color-brand-100: #fbe6e9;
  --color-brand-500: #db2b41;
  --color-brand-600: #aa182b;
  --color-brand-700: #8b1020;
  --color-brand-900: #4f050e;
  --color-custom-red: #aa182b;
  --color-custom-gold: #d28c47;
  --font-sans: "Inter", "sans-serif";
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }
}
